.quill-editor {
  text-decoration: underline !important;
  color: black;
}

.quill-editor b,
.quill-editor strong {
  font-weight: bold;
  color: #22c55e;
}

.quill-editor ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 0;
  color: black;
}

.quill-editor ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
  color: black;
}

.quill-editor h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.quill-editor h2 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}
